#facebox .tl {
	background:url(/facebox/tl.png);
}
#facebox .tr {
	background:url(/facebox/tr.png);
}
#facebox .bl {
	background:url(/facebox/bl.png);
}
#facebox .br {
	background:url(/facebox/br.png);
}
#facebox {
	position: fixed;
	top:0 !important;
	bottom:0 !important;
	left: 0;
	z-index: 10000;
	text-align: left;

} 
/* #facebox {
    left: 50% !important;
    position: absolute;
    text-align: left;
    top: 40% !important;
    transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
    z-index: 10000;
} */
#facebox .popup {
	position: relative;
	display:table;
	height:100%;
}
#facebox .popup  table{
display:table-cell;
vertical-align:middle;
position:relative;
}
#facebox .popup  table table{
	display:table;
	width:100%;
}

#facebox td {
	border-bottom: 0;
	padding: 0;
}
#facebox .body {
	background: #f5f5f5;
	max-width: 600px;
	border-radius:4px;
	position:relative;
}
#facebox .formWrap table tr td{
vertical-align:middle;
}


#facebox .loading {
	text-align: center;
}
#facebox .image {
	text-align: center;
}
#facebox img {
	border: 0;
	margin: 0;
}
#facebox .footer {
	/*
	margin-top: 10px;
	text-align: right;*/
	/* position: absolute;
    right: -15px;
    top: -15px;
	border-radius:100%;
	background:#000;
	height:35px;
	width:35px;
	text-align:center;
	line-height:37px;*/
	 position: absolute;
    right: 3px;
    top: 9px;
	border-radius:100%;

	height:35px;
	width:35px;
	text-align:center;
	

}
#facebox .footer  .ion-close-round{
color:#fff;
}

#facebox .tl, #facebox .tr, #facebox .bl, #facebox .br {
	height: 10px;
	width: 10px;
	overflow: hidden;
	padding: 0;
	display:none;
}
#facebox_overlay {
	position: fixed;
	top: 0px;
	left: 0px;
	height:100%;
	width:100%;
	opacity:0.7 !important;
}
.facebox_hide {
	z-index:-100;
}
.facebox_overlayBG {
	background-color: #000;
	z-index: 99;
}
* html #facebox_overlay { /* ie6 hack */
	position: absolute;
 height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}
/*----edit by avtar--*/
#facebox .popup h2 {
	background: none repeat scroll 0 0 #3e434a;
	border-bottom: 1px solid #ddd;
	border-radius: 2px 2px 0 0;
	color: #fff;
	font-size: 19px;
	font-weight: 600;
	margin-bottom: 10px;
	padding: 10px 10px 10px 26px;
}
#facebox .leftPanel table {
	padding: 10px 20px;
}
#facebox .theme-btn {
	border-radius: 3px;
	margin-top: 12px;
	font-size:14px;
	font-weight:400;
}
.close {
 cursor: pointer;
    height: 36px;
    position: absolute;
    right: -26x;
    top: -26px;
    width: 36px;
  background:url(/facebox/fancybox_sprite.png) no-repeat 0 0;

}
/*----popup login page style ----*/

#facebox .popup  .login-pages {
    margin: 0;
    padding-top: 0;
    position: relative;
 	min-width:400px;
	width:100%;
}
#facebox .popup .login-pages .gray-background{
padding:0px;
border-radius: 3px;
}
#facebox .popup  .login-pages  h2{
background:none;
border-bottom:none;
margin:0px;
padding:0;
}

#facebox .popup .login-pages  table td{
padding:10px 20px;
}
#facebox .popup  .login-pages .theme-btn{
margin-top:0px;
}
#facebox  .upload-profile table td{
padding:0 5px;
}
#facebox  .upload-profile table td span{
font-size:13px;
}




 @media screen and (min-width:501px) and (max-width: 800px) {
 #facebox {
width:500px!important;
left:50%!important;
margin:0 0 0 -250px;
}
 #facebox .leftPanel tr td {
	 padding:0 2px;
	 vertical-align:top;
 }
 
 #facebox .popup  .login-pages {
width:100%;
}
}
 @media screen and (max-width:500px) {
 #facebox {
width:300px!important;
left:50%!important;
margin:0 0 0 -150px;
}
 #facebox .leftPanel tr td {
 padding:0px;
 display:block;
 width:100%;
}
#facebox .leftPanel h2 {
 font-size:16px;
}
#facebox .leftPanel tr td:first-child {
 text-align:center;
}
#facebox .leftPanel table {
 padding:0px 10px 10px 10px;
}
#facebox .popup  .login-pages {
width:100%;
}
#facebox .popup  .login-pages  h2{
font-size:18px;
}
#facebox .popup .login-pages .gray-background{
padding-top:10px;
}
#facebox .footer{
/*width:35px;
height:35px;
line-height:35px;
right:-7px;
top:-7px;*/
}
#facebox .popup .login-pages  table td{
padding:5px 10px;
}
#facebox .popup  .login-pages {
 	min-width:inherit;
}
.close{
	top:-4px;
	right:4px;
}
}
