.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12 {display: inline;float: left; margin:0; padding:0; position: relative;}

.fix-container:after {clear: both; content:" "; display: block; height: 0; visibility:hidden;}

.index-order {
	background:url(../images/slide.jpg) no-repeat center top;
	position:relative;
	top:-88px;
	margin-bottom:-88px;
	height:516px;
	box-shadow:0 0 3px rgba(0, 0, 0, 0.8);
}
.index-order h2 {
	font-size:40px;
	font-weight:600;
	line-height:1;
	text-align:center;
	padding:148px 0 0 0;
}
.index-order h2 span {
	display:block;
	font-size:20px;
	font-weight:300;
/* 	line-height:2.5; */
}
.order-form {
	background:rgba(0, 0, 0, 0.8);
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	width:894px;
	margin:15px auto 0;
	padding:12px 18px 18px 18px;
}
.order-form .name {
	color:#fff;
	font-size:23px;
	font-weight:600;
	line-height:1;
	padding:0;
	display:block;
	margin:0 0 17px 0;
}
.order-form .name span {
	display:inline-block;
	font-size:17px;
	color:#fff;
	text-align: right;
	font-family:Georgia, "Times New Roman", Times, serif;
	float:right;
	font-weight:normal;
}
form.form-order table {
	vertical-align:top;
	background:#fff;
	border-radius:3px;
	padding:16px;
	display:block;
	width:100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
form.form-order table td {
	vertical-align:top; padding:0 0 0 15px;
}
form.form-order table td:first-child{padding-left:0;}
form.form-order select{line-height:33px;}
form.form-order input[type="text"], form.form-order select {
	border:solid 2px #d7d7d6;
	border-radius:3px;
	width:100%;
	vertical-align:top;
	padding:8px 10px;
	margin:0px 0 0 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color:#292929;
	font-size:14px;
	font-family: 'Open Sans', sans-serif;
	display:inline-block;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s;
}
form.form-order input[type="text"]:focus, form.form-order select:focus {
	border-color: rgba(0, 146, 63, 0.7);
	outline: 0;
	outline: thin dotted \9;
	/* IE6-9 */												 
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 12px rgba(46, 144, 88, 0.6);
	-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 12px rgba(46, 144, 88, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 12px rgba(46, 144, 88, 0.6);
}
form.form-order input[type="text"].calender { width:89%!important; 
	 /* background:url(../images/calender-icn.png) no-repeat 94% center; */ 
}
form.siteForm input[type="text"].calender { width:89%!important;
	/*  background:url(../images/calender-icn.png) no-repeat 94% center; */
}
.order-form #cal_trigger_task_due_date{margin:8px 0 0 10px;}
form.form-order .paper {
	width:155px;
}
form.form-order .pages{ width:100px; margin-right:0;}
.words {
	background:#063e52;
	color:#fff;
	font-size:14px;
	line-height:1.2;
	position:relative;
	padding:11px 15px;
	border-radius:2px;
}
.words:before {
	content:"";
	position: absolute;
	width: 0;
	height: 0;
	border-top: 6px solid transparent;
	border-right: 7px solid #063e52;
	border-bottom: 6px solid transparent;
	margin: 3px 0 0 -22px;
}
form.form-order input[type="submit"] {
	background: #049e51;
	background-image: -webkit-linear-gradient(top, #049e51, #007e3f);
	background-image: -moz-linear-gradient(top, #049e51, #007e3f);
	background-image: -ms-linear-gradient(top, #049e51, #007e3f);
	background-image: -o-linear-gradient(top, #049e51, #007e3f);
	background-image: linear-gradient(to bottom, #049e51, #007e3f);
	-webkit-border-radius: 2;
	-moz-border-radius: 2;
	border-radius: 2px;
	color: #ffffff;
	font-size:17px;
	font-weight:700;
	padding:9px 23px;
	border:none;
	cursor:pointer;
	margin-top:11px;
}

form.form-order input[type="submit"]:hover  {
	background: #007e3f;
	background-image: -webkit-linear-gradient(top, #007e3f, #049e51);
	background-image: -moz-linear-gradient(top, #007e3f, #049e51);
	background-image: -ms-linear-gradient(top, #007e3f, #049e51);
	background-image: -o-linear-gradient(top, #007e3f, #049e51);
	background-image: linear-gradient(to bottom, #007e3f, #049e51);
}
a.greenlink { position:relative;
	display: inline-block;
	float:right;
	margin-top:18px;
	background: url(../images/tip.png) no-repeat 0 0;
	color: #FFFFFF;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
	font-style:italic;
	font-weight: normal;
	padding:0 0 5px 30px;
}
.how-works {
	text-align:center;
	padding:30px 0 47px 0;
}
.how-works h2 {
	text-align:center;
	color:#3e434a;
	font-size:35px;
	font-weight:600;
	line-height:1;
	padding:0px 0 30px 0;
	margin:0px;
}
.how-works ul {
	margin:0 auto;
	display:block;
	text-align:center;
}
.how-works li {
	width:33%;
	vertical-align:top;
	display:inline-block;
	background:url(../images/arrow-direction.png) no-repeat left 53px;
	padding:0px 0px 0px 70px;
}
.how-works li:first-child {
	padding-left:0;
	background:none;
}
.how-works li span.icon {
	text-align:center;
	height:173px;
	vertical-align:top;
	display:block;
}
.how-works li p {
	color:#414141;
	font-size:16px;
	font-weight:300;
}
.why-us {
	background:#f9f9f9;
	border-top:1px solid #f2f2f2;
	border-bottom:1px solid #f2f2f2;
	padding:40px 0 30px 0;
}
.why-cells {
}
.why-cells .cell {
	float:left;
	width:314px;
	margin:0 0 0 28px;
}
.why-cells .cell:first-child {
	margin-left:0;
}
.why-us h3 {
	text-align:center;
	color:#3e434a;
	font-size:35px;
	font-weight:600;
	line-height:1;
	padding:0px 0;
	margin:0px;
}
.why-us p {
	color:#3e434a;
	font-size:16px;
	font-weight:300;
	padding:10px 0 0 0;
	text-align:center;
}
.sq-box {
	margin-top:30px;
	border:1px solid #f2f2f2;
	border-radius:2px;
	background:#fff;
	display:block;
	padding:15px 25px;
}
.sq-box ul li {
	color:#262726;
	font-size:18px;
	line-height:1.2;
	background:url(../images/green-icon.png) no-repeat 0 1px;
	padding:0 0 0 30px;
	margin:19px 0;
	display:block;
}
.why-cells .video {
	background:#3f444a;
	margin-top:30px;
	height:238px;
	width:311px;
	text-align:center;
	padding:9px 0 0 0;
	border-radius:2px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.current-activity {
	margin-top:48px;
}
.activity-level {
	margin-top:35px;
	background:#3f444a;
	border-radius:3px;
	color:#fff;
	font-size:16px;
	text-align: center;
}
.activity-level span {
	text-align:center;
	color:#fff;
	font-size:46px;
	display:block;
	font-weight:600;
}
.activity-level .sts {
	float:left;
	padding:6px 0 20px 0;
	border-right: solid 1px #33383e;
	border-left: solid 1px #454a50;
	width: 330px;
}
.activity-level .sts.score {
	border-right: solid 1px #10465c;
	border-left: none;
}
.sts.completed{border-left: none;}
.activity-level .sts.online {
	border-right:none;
}
.btns-row {
	display:inline-block;
	width:100%;
	margin:30px 0 0 0;
}
a.btn-white {
	color:#303130;
	font-size:17px;
	font-weight:600;
	padding:5px 15px;
	border:solid 1px #afc9d7;
	border-radius:2px;
	display:inline-block;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #e6e5e5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #e6e5e5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%, #e6e5e5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%, #e6e5e5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%, #e6e5e5 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%, #e6e5e5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e6e5e5', GradientType=0 ); /* IE6-9 */
	-webkit-transition: all 1s ease-out;
	-moz-transition: all 1s ease-out;
	-o-transition: all 1s ease-out;
	-ms-transition: all 1s ease-out;
	transition: all 1s ease;
}
a.btn-white:hover {
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #e6e5e5 0%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e6e5e5), color-stop(100%, #ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e6e5e5 0%, #ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e6e5e5 0%, #ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #e6e5e5 0%, #ffffff 100%); /* IE10+ */
	background: linear-gradient(to bottom, #e6e5e5 0%, #ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e5e5', endColorstr='#ffffff', GradientType=0 ); /* IE6-9 */
	border-color:#16536a;
}
.btns-row .right {
	float:right;
}
.white-row {
}
.cta-box {
	padding:40px 0;
	display:table;
	vertical-align:top;
}
.cta-box .cta-line {
	display: table-cell;
	width:100%;
	vertical-align:top;
}
.cta-box h3 {
	color:#3e434a;
	font-size:41px;
	font-weight:300;
	line-height:1;
}
.cta-box h3 strong {
	font-weight:600;
}
.cta-box p {
	line-height:1;
	color:#3e434a;
	font-size:17px;
	font-weight:300;
}
.cta-box p strong {
	font-weight:600;
}
.cta-box a.btn-theme {
	color:#fff;
	font-size:24px;
	font-weight:600;
	padding:12px 18px;
	border-radius:3px;
	background: #069c43;border:1px solid #069c43;
	text-align:right;
	white-space:nowrap;
	vertical-align:middle;
	display:inline-block;
	margin-top:15px;
}
.cta-box a.btn-theme:hover {
    background: none repeat scroll 0 0 #3d4249;
    border: 1px solid #3d4249;
	-webkit-box-shadow:0 0 12px #3d4249;
	-moz-box-shadow:0 0 12px #3d4249;
	box-shadow:0 0 12px #3d4249;
}
.blue-bar {
	background:#3f444a;
	padding:50px 0;
}
.blue-bar h2 {
	color:#fff;
	font-size:35px;
	text-align: center;
	font-weight:600;
	line-height:1;
	padding-bottom:15px;
}
.blue-bar p {
	color:#fff;
	font-size:17px;
	font-weight:300;
	text-align:center;
}
.testimonial {
	padding:50px 0;
}
.testimonial h2 {
	color:#3e434a;
	font-size:35px;
	text-align: center;
	font-weight:600;
	line-height:1;
	padding-bottom:15px;
}
.testimonial p {
	color:#545353;
	font-size:17px;
	font-weight:300;
	text-align:center;
}
.testi-cell {
	width:484px;
	float:left;
	margin:32px 0 0 0;
}
.testi-cell.right {
	float:right;
}
.testi-cell .txt {
	background-color:#f9f9f9;
	position:relative;
	border-radius:2px 2px 0 0;
	padding:13px 22px 0px 22px; height:100px;
}
.testi-cell .txt:before {
	top:99px;
	left: 0%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-top-color: #f9f9f9;
	border-width:12px;
	margin-left:42px;
}
.testi-cell .txt p {
	background: url(../images/quote-1.png) no-repeat scroll 0 0;
	color: #545353;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.5;
	margin:0 0 0px 0;
	padding: 20px 0 30px 30px;
	position: relative;
	text-align:left;
}
.testi-cell .txt p:after {
	background: url(../images/quote-2.png) no-repeat scroll 0 0;
	content: "";
	display: inline-block;
	height: 16px;
	margin: 15px 0 0 10px;
	position: absolute;
	width:20px;
}
.testi-cell .from {
	border:solid 1px #f2f2f2;
	border-top: none;
	border-radius:0 0 2px 2px;
	padding:20px 15px;
}
.testi-cell .from h3 {
	color:#0e7298;
	font-size:16px;
	text-align: left;
	font-weight:600;
	line-height:1;
	padding:10px 0;

}
.testi-cell .from h3 a {
	color:#3e434a;
}
.testi-cell .from h3 a:hover {
	color:#000;
}
.testi-cell .from p {
	color:#484949;
	font-size:15px;
	text-align: left;
	font-weight:300;
	line-height:1;
	padding-top:5px;
	padding-bottom:5px;
}
.testi-cell .from ul.rating {
	font-size:0;
}
.testi-cell .from ul.rating li {
	width:10px;
	height:9px;
	display:inline-block;
}
.testi-cell .from ul.rating li.yellow {
	background:url(../images/yellow-star.png) no-repeat 0 0;
}
.testi-cell .from ul.rating li.gray {
	background:url(../images/gray-star.png) no-repeat 0 0;
}
.testi-cell .from .pic {
	float:left;
	border: 2px solid #FFFFFF;
	border-radius: 150px;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
	display: inline-block;
	height: 76px;
	overflow: hidden;
	vertical-align: top;
	width: 76px;
	margin-right:20px;
	margin-bottom:15px;
}
.testi-cell .from .pic img{width:100%;}
.light-blue-row {
	background:#f9f9f9;
	padding:50px 0;
	border-bottom: 1px solid #f2f2f2;
    border-top: 1px solid #f2f2f2;
}
.feature-piller {
	width:484px;
	float:left;
	border-radius:3px;
	overflow:hidden;
	text-align:center;
}
.light-blue-row .blue {
	background:#fff;
	border: 1px solid #f2f2f2;
}
.light-blue-row .blue .name {
	background:#069c43;
	color:#fff;
	font-size:27px;
	text-align: center;
	font-weight:600;
	line-height:1.2;
	padding:15px 15px;
}
.light-blue-row .blue h3 {
	font-size:19px;
	text-align: left;
	font-weight:600;
	line-height:1.2;
	padding:25px 30px 10px 30px;
}
ul.listing {
	padding:0px 30px;
}
ul.listing li {
	font-size:17px;
	line-height:1.2;
	background:url(../images/green-icon.png) no-repeat 0 3px;
	padding:0 0 5px 30px;
	margin:17px 0;
	display:block;
	text-align:left;
}
.light-blue-row .blue p {
	text-align:left;
	padding:17px 30px;
	font-size:17px;
	line-height:1.2;
}
.light-blue-row a.btn-white {
	border:solid 1px #cacaca;filter:none!important;
	display:inline-block;
	margin:40px auto;
}
.light-blue-row .white {
	float:right;
	background:#fff;
	border:solid 1px #f2f2f2;
}
.light-blue-row .white .name {
	background:#069c43;
	color:#fff;
	font-size:27px;
	text-align: center;
	font-weight:600;
	line-height:1.2;
	padding:15px 15px;
	border-bottom:solid 1px #f2f2f2;
}
.white-row {
    background:#bdf8df;
}
.light-blue-row .white ul.listing li {
	color:#262726;
}
.light-blue-row .white a.btn-white {
	border:solid 1px #cacaca;
}
.blue-second {
	background:#bdf8df;
}
.blue-second .cta-box {
	padding:30px 0;
}
.blue-second .cta-box h3 {
	color:#069c43;
	font-size:35px;
}
.blue-second .cta-box a.btn-theme {
	margin:0;
}
.blue-second .cta-box a.btn-theme:hover {
	background:#fff;
	color:#000;
}
.unique-time-line {
	margin:50px 0 0 0;
	display:inline-block;
	width:100%;
	background:url(../images/line.png) repeat-y center top;
}
.unique-time-line li {
	display:block;
	width:583px;
	position:relative;
}
.unique-time-line .event {
	min-height:163px;
	margin-top:20px;
}
.unique-time-line .event:hover .icon {
	/*background:#003653;*/
	border-color:#fff;
	-webkit-transition: all 1s ease-out;
	-moz-transition: all 1s ease-out;
	-o-transition: all 1s ease-out;
	-ms-transition: all 1s ease-out;
	transition: all 1s ease-out;
}
.unique-time-line .event:first-child {
	margin-top:0;
}
.unique-time-line .event .txt {
	margin:0 22px;
	width:375px;
	float:left;
}
.unique-time-line .event .txt h3 {
	color:#fff;
	font-size:24px;
	font-weight:400;
	line-height:1.3;
	padding-bottom:10px;
}
.unique-time-line .event .txt p {
	color:#fff;
	font-size:15px;
	font-weight:300;
	padding-bottom:10px;
}
.unique-time-line .event .txt a.btn-white {
	border:1px solid #043e5d; filter:none!important;
	display:inline-block;
}
.unique-time-line .event .icon {
	background:#3f444a;
	width:163px;
	height:163px;
	border-radius:163px;
	display:table-cell;
	vertical-align:middle;
	text-align:center;
	overflow:hidden;
	border:solid 6px #292e34;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding:21px 0 0 0;
}
.unique-time-line .event .icon img {
	vertical-align:middle;
	text-align:center;
}
.unique-time-line .event.left {
	text-align:right;
	float:left;
}
.unique-time-line .event.left p {
	text-align:right;
}
.unique-time-line .event.right {
	float:right;
	text-align:left;
}
.unique-time-line .event.right p {
	text-align:left;
}
.unique-time-line .event.left .icon {
	float: right;
}
.unique-time-line .event.right .icon {
	float: left;
}




.why-us a.btn-white:hover{	border-color:#069c43;
	outline: 0;
	outline: thin dotted \9;
	/* IE6-9 */												 
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 12px rgba(46, 144, 88, 0.6);
	-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 12px rgba(46, 144, 88, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 12px rgba(29, 116, 157, 0.6);}
	
	
.blue-bar a.btn-white:hover{	border-color:#3795b9;
	outline: 0;
	outline: thin dotted \9;
	/* IE6-9 */												 
	-webkit-box-shadow:  0 0 12px #062738;
	-moz-box-shadow: 0 0 12px #062738;
	box-shadow: 0 0 12px #062738;}	
	
	
.feature-piller.white a.btn-white:hover{border-color:#069c43;
	outline: 0;
	outline: thin dotted \9;
	/* IE6-9 */												 
	-webkit-box-shadow: 0 0 12px #069c43;
	-moz-box-shadow: 0 0 12px #069c43;
	box-shadow: 0 0 12px #069c43;}	
	
	
	
.feature-piller.blue a.btn-white:hover{	border-color:#069c43;
	outline: 0;
	outline: thin dotted \9;
	/* IE6-9 */												 
	-webkit-box-shadow:  0 0 12px #069c43;
	-moz-box-shadow: 0 0 12px #069c43;
	box-shadow: 0 0 12px #069c43;}	
	
.blue-second .cta-box a.btn-theme:hover{	border-color:#000;
	outline: 0;
	outline: thin dotted \9;
	/* IE6-9 */												 
	-webkit-box-shadow:  0 0 12px #062738;
	-moz-box-shadow: 0 0 12px #062738;
	box-shadow: 0 0 12px #062738;}






#wrapper { width:100%; min-height:100%;margin: 0 0 -385px; padding: 0 0 385px;}
#header {
	position:relative;
	padding:15px 0px;	
	z-index:10;
	background:rgba(0, 145, 72, 0.8);
}
.fix-container { position:relative;
	width:1000px;
	margin:0 auto;
}
.fix-container:after {clear: both; content:" "; display: block; height: 0; visibility:hidden;}
#logo {
	float:left;
	display:inline-block;
}
#logo a {
	background:url(../images/logo.png) no-repeat 0 0;
	width:165px;
	height:34px;
	display:block;
}
.top-nav {
	display:inline-block;
	float:right;
}
.navigations { margin:0 0 0 0;
	float:left;
	font-size:0;
}
.navigations li { float:left; margin:0 5px 0 0;}

.navigations li a {
    border-radius: 2px;
    color: #ffffff;
    display: block;
    font-size: 14px;
    font-weight: 600;
    padding: 7px 11px;
    text-transform: uppercase;
}
.navigations li a:hover {
	background:#006a33;
}
.navigations li a.current {
	background:#006a33;
}
a.toggle {
    background:#006a33;
    border-radius: 2px;
    color: #fff;
    float: right;
    font-size: 14px;
    font-weight: 600;
    padding:7px 34px 7px 13px;
    position: relative;
	text-transform:uppercase;
}
a.toggle:before {
	content:""; right:14px; border-left:6px solid transparent;border-right:6px solid transparent;border-top:6px solid #fff;
	position:absolute;
	top:15px;
	margin-left:8px;
}
a.toggle:hover {
	background:#3d4249;
	color:#fff;
}
a.toggle:hover:before{border-top:6px solid #fff;}


.social {
	float:left;
	display:inline-block;
}
.social ul {
	font-size:0;
}
.social ul li {
	display:inline-block;
	margin: 0 2px;
	vertical-align:top;
}
.social ul li a {
	background: url(../images/social.png) no-repeat 0 0;
	width:37px;
	height:37px;
	display:block;
 -webkit-transition-duration: .5s;
 transition-duration: .5s;
	-webkit-transition-property: -webkit-transform;
	transition-property: transform;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.social ul li.fb a {
	background-position:0 0;
}
.social ul li.in a {
	background-position:-42px 0;
}
.social ul li.tw a {
	background-position:-84px 0;
}
.social ul li.gp a {
	background-position:-126px 0;
}
.social ul li a:hover {
	-webkit-transform: translateY(-6px);
	-ms-transform: translateY(-6px);
	transform: translateY(-6px);
	-webkit-animation-name: hover;
	animation-name: hover;
	-webkit-animation-duration: 1.5s;
	animation-duration: 1.5s;
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	animation-direction: alternate;
}
p.copyright {
	display:inline-block;
	margin:0 auto;
	color:#a4a7a9;
	font-size:14px;
	font-weight:300;
	text-align:center;
}
.paypal {
	float:right;
	display:inline-block;
}


.socialList{ float:left;}
.socialList li{ margin:0 8px 0 0; float:left;}
.socialList li a{ width:34px; height:34px; background:#3f444a; text-align:center; padding:2px; margin:0 0 0 0; display:block; border-radius:100px;}
.socialList li a img{margin:1px 0 0 0;}
.socialList li a:hover{background:#069c43;box-shadow:0 0 12px #3f444a;-webkit-transform: translateY(-3px);
	-ms-transform: translateY(-3px);
	transform: translateY(-3px);
	-webkit-animation-name: hover;
	animation-name: hover;
	-webkit-animation-duration: 1.5s;
	animation-duration: 1.5s;
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	animation-direction: alternate;}


.testimonial .buttoncommon{display:table; margin:30px auto 0;}

.buttoncommon{color:#fff !important;
	font-size:14px;
	padding:7px 16px;
	border-radius:3px;
	background: #069c43;border:1px solid #069c43;
	text-align:right;
	white-space:nowrap;
	vertical-align:middle;
	display:inline-block;}

.buttoncommon:hover {
	background:#3d4249; border:1px solid #3d4249;
	-webkit-box-shadow:0 0 12px #3d4249;
	-moz-box-shadow:0 0 12px #3d4249;
	box-shadow:0 0 12px #3d4249;
}

.ratingWrap{display:inline-block;}



.sidesection{display:inline-block; vertical-align: middle;position:relative;}
.infolink{ cursor:pointer;position:relative;color:#0b7e3e;font-size:14px;font-weight:600;background:#ffffff;border-radius:2px;padding:5px 26px 4px 5px;float:right;}
.infolink:before {content:""; right:8px; border-left:6px solid transparent;border-right:6px solid transparent;border-top:6px solid #0b7e3e;position:absolute;top:15px;margin-left:8px;}
.infolink:hover {background:#006a33;color:#fff;}
.infolink:hover:before{border-top:6px solid #fff;}
.infolink:hover .name{color:#FFF;}

.infolink .name{ font-size:15px; color:#0b7e3e; font-weight: 600; float:left; margin:0px 0px 0 0;}
.infolink .picthumb{ width:25px; height:25px; float:left; margin:0 10px 0 0;}
.infolink .picthumb img{ height:100%; width:100%; border:1px solid #939393;}
.sidesection:hover .infolink{background:#006a33;color:#fff;}
.sidesection:hover .infolink:before{border-top:6px solid #fff;}
.sidesection:hover .infolink .name{color:#FFF;}


.sectionDrop{ display:none; min-width:180px;position:absolute; top:100%; right:0; z-index:10;}
.sectionDrop .whiteLinks{ position:relative;width:100%; padding:10px;background:#31ab46; border-radius:3px; display:inline-block; margin:15px 0 0 0;}
.sectionDrop .whiteLinks:before{ position:absolute; right:10px; top:-10px; content:""; border-left:10px solid transparent;border-right:10px solid transparent;border-bottom:10px solid #31ab46;}
.sectionDrop .whiteLinks li{display:block;}
.sectionDrop .whiteLinks li a{display:block; padding:6px 10px; font-size:14px; color:#FFF;}
.sectionDrop .whiteLinks li a:hover{background:#1c8a2f; border-radius:3px;}

.sidesection:hover .sectionDrop{display:block;}

.logoutlink{ float:right; height:35px; width:40px; background:#31ab46 url(../images/logout_icon.png) no-repeat center center; border-radius:3px; margin:0 0 0 10px;}
.logoutlink:hover{background-color:#3d4249;}

.ratingSection{display:inline-block;}
.ratingSection .ratings{display:inline-block; vertical-align:top; margin:0 10px 0 0;}
.ratingSection .nrmltxt{ vertical-align:top;display:inline-block; color:#135066;}


.infoicon{position:relative; display:block; cursor:help; margin:8px 0 0 0;}
.wrapover{position:absolute; width:120px; text-align:center; margin:0 0 0 -60px; left:50%; top:35px; background:#333; color:#FFF; display:none; padding:6px 10px 8px; font-size:13px; z-index:10; border-radius:3px;}
.wrapover:before{ position:absolute; left:50%; top:-8px; margin:0 0 0 -8px; content:""; border-left:8px solid transparent; border-right:8px solid transparent; border-bottom:8px solid #333;}
.infoicon:hover .wrapover{display:block;}

.tooltips{position:relative; display:block; cursor:help; margin:8px 0 0 0;}
.tooltips span{position:absolute; width:300px; text-align:center; margin:0 0 0 -110px; left:50%; bottom:100%; background:#333; color:#FFF; display:none; padding:4px 10px 6px; font-size:11px; z-index:10; border-radius:3px;}
.tooltips span:before{ position:absolute; left:50%; bottom:-6px; margin:0 0 0 -8px; content:""; border-left:8px solid transparent; border-right:8px solid transparent; border-top:8px solid #333;}
.tooltips:hover span{display:block;}


#common_error_msg{position:relative; margin: 0 auto; border-radius:3px;  width:894px;  z-index:999; background:#fcd4d4; display:none!important; }
/* #common_error_msg:before{position:fixed;background-color:#333;  background:rgba(0, 0, 0, 0.8); left:0; right:0; top:0; bottom:0; content:"";} */
#common_error_msg ul li a{color:#c70e0e;padding:1px 10px; display:block; cursor:default;display:none!important;}
.testi-cell.testi-cell-center{float:none; margin:32px auto 0; width:700px;}
.errorlist, .errorlist li a{color:#FF0000; font-family:'OpenSans-Semibold';}
.qWrap .buttoncommon.skip_btn{padding-top:9px; padding-bottom:9px;}

#frmEssay .formTable td:first-child br{display:none;}
#frmEssay .formTable td:first-child .mce-tinymce br{display:block;}
.pic_txt { float: left; margin-right: 20px; margin-bottom: 15px; width: 76px;}
.pic_txt p {font-size:16px!important; font-style:bolder!important; font-weight:900!important; text-align:center!important;}


/* 404 error */
.errorWrap{position:relative; padding:0px 0; position:relative; margin:0 0 0 0;}
.errorWrap .textwrap{margin:0 auto 20px; position:relative; border-bottom:1px solid #d2d8da; padding:0 0; width:80%;}
.errorWrap .textwrap .errorpic{ float:right; margin:60px 0 0 0;}
.errorWrap .textwrap .text{ position:relative; display:inline-block;}
.errorWrap .textwrap .text span{font-size:280px; color:#000; line-height:1;}
.errorWrap .textwrap .overtext{position:absolute; left:0; top:90px; padding:10px 15px 10px 0; background:#fff; width:600px;}
.errorWrap .textwrap .overtext h2{ font-weight:bold; float:left; padding:0; font-size:80px; color:#ef2e25; line-height:65px;}
.errorWrap .textwrap .overtext h5{font-size:25px; color:#333; padding:0 15px; line-height:24px; display:inline-block; margin:6px 0 6px 0;}
.errorWrap .textwrap .overtext h5 span{ font-size:30px !important;color:#ef2e25 !important;}
.errorWrap .buttonGreen{position:relative;}
